[submodule "books/introduction-prework"]
	path = books/introduction-prework
	url = https://github.com/gitguts/gitbook-introduction-prework.git
[submodule "books/repository-prework"]
	path = books/repository-prework
	url = https://github.com/gitguts/gitbook-repository-prework.git
[submodule "books/repository"]
	path = books/repository
	url = https://github.com/gitguts/gitbook-repository.git
