h1#git-guts-repozytorium-prework,
h3#httpscontentgitgutsiorepository-prework {
    text-align: center;
}

a[href="https://www.gitguts.io"] {
    display: block;
    text-align: center;
    font-size: xx-large;
    font-weight: 500;
}

.image-wrapper {
    max-width: 300px;
    width: 100%;
    margin: 2% auto;
    display: block;
}

div[class*="prework"] {
    max-width: 600px;
}

p {
    text-align: justify;
}
