h1#git-guts-wprowadzenie,
h3#httpscontentgitgutsiointroduction {
    text-align: center;
}

a[href="https://www.gitguts.io"] {
    display: block;
    text-align: center;
    font-size: xx-large;
    font-weight: 500;
}

div[class*="prework"] {
    max-width: 600px;
}

p {
    text-align: justify;
}

.image-wrapper {
    max-width: 300px;
    width: 100%;
    margin: 2% auto;
    display: block;
}

.image-wrapper.content-scm,
.image-wrapper.content-files,
.image-wrapper.content-reset,
.image-wrapper.content-remote {
    max-width: 100%;
}

.image-wrapper.content-reset img {
    min-width: 80%;
}
